@media screen and (max-width: 1615px) {
  #slider-nav #slider {
    #info {
      #textHolder {
        width: 60%;
      }
      h1 {
        font-size: 4em;
      }
      h2 {
        font-size: 2.5em;
      }
      p {
        font-size: 1.3em;
      }
    }
    #authorPhoto {
      width: 40%;
      #imageHolder img {
        width: 22vw;
      }
    }
  }
  .heading {
    font-size: 3em;
  }
  #project .project-block .project-image img {
    height: 13vh;
  }
  #about #about-image {
    width: 35%;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

@media screen and (max-width: 1503px) {
  #slider-nav #slider {
    #info #textHolder {
      width: 65%;
    }
    #authorPhoto {
      width: 35%;
    }
  }
  #skills #skill-holder .skill .skill-heading {
    text-align: center;
  }
}

@media screen and (max-width: 1388px) {
  #slider-nav #slider {
    #info {
      width:50%;
      #textHolder {
        width: 100%;
        h1{
          font-size:3.5em;
        }
        h2{
          font-size:2.2em;
        }
        p{
          font-size: 1.2em;
        }
      }
   
    }
    /*#authorPhoto {
  
   
    }*/
  }
  #project .project-block {
    width: 14vw;
    .content {
      padding: 0.7em;
      .project-heading {
        font-size: 1.3em;
      }
      .technologies {
        font-size: 1em;
      }
    }
  }
  #slider-nav #slider #authorPhoto #imageHolder img {
    width: 25vw;
  }
  .heading::after, #contact .co::after {
    width: 10vw;
  }
  #about #about-text #textHolder .ab::after, #education .ed::after {
    width: 12vw;
  }
  #skills .sk::after {
    width: 6vw;
  }
}
@media screen and (max-width: 1200px){
  #slider-nav
  {
    #nav 
    {
      #menu
      {
        width: 100%;
    display: flex;
    justify-content: center;
    ul {
      width: 100%;
    }
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  #project .project-block {
    width: 15vw;
  }
  .heading {
    font-size: 2.5em;
  }
  #education #educationHolder #educationImage {
    width: 50%;
    justify-content: flex-end;
  }
  #skills #skill-holder .skill .progressFrame {
    width: 100%;
  }
  #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock {
    padding: 1.5em;
  }
  #contact #contactHolder {
    #info #info-holder {
      .info-heading {
        font-size: 1.8em;
      }
      p, #social {
        font-size: 1.2em;
      }
    }
    #form form .formel {
      input {
        &[type="text"], &[type="email"] {
          font-size: 1.6em;
        }
      }
      textarea {
        font-size: 1.6em;
      }
      button {
        font-size: 1.3em;
        padding: 0.2em 1.6em;
      }
      ::placeholder {
        padding: 0 0.5em;
      }
    }
  }
  #education #educationHolder #educationImage img {
    height: 90%;
  }
}

@media screen and (max-width: 1069px) {
  #about #about-text {
    display: flex;
    align-items: center;
    #textHolder p {
      font-size: 1.2em;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
    width: 65%;
    /* border:1px solid #fff;*/
  }
  /*#about #about-image{
    border:1px solid #ff00ff;
  }*/
  #project .project-block {
    width: 14.2vw;
    height: 23vh;
    .content {
      .project-heading {
        font-size: 1.8vw;
      }
      .technologies {
        font-size: 1.5vw;
      }
      padding: 0.3em;
    }
    .project-image img {
      height: 12vh;
    }
  }
  #skills #skill-holder {
    #group1, #group2 {
      width: 50%;
    }
  }
 
  #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock {
    padding: 1.2em;
    .school {
      font-size: 1.2em;
    }
  }
  #slider-nav #slider #authorPhoto #imageHolder img {
    width: 100%;
  }
  .heading::after, #contact .co::after {
    width: 11vw;
  }
  #about #about-text #textHolder .ab::after, #education .ed::after {
    width: 13vw;
  }
  #skills .sk::after {
    width: 5vw;
  }
  #slider-nav #slider {
    #info {
     
      #textHolder {
       
        h1{
          font-size:3em;
        }
        h2{
          font-size:2em;
        }
        p{
          font-size:1em;
        }
      }
}
  }
}
  

@media screen and (max-width: 992px) {
  
  #project {
    
    #project-holder
     {
      
       
       padding: 3em 1em;
      .pr{
        width:45%;
       
      }
     }
  }
  #slider-nav #slider #authorPhoto
  {
    width:50%;
   #imageHolder {
    width: 70%;
      img {
        width: 100%;
      }
    }
  }
  #skills #skill-holder .skill {
    .skill-heading {
      font-size: 1.2em;
    }
    .progressFrame {
      height: 1.5vh;
    }
  }
 
  #slider-nav #slider #info {
    h1 {
      font-size: 3.3em;
    }
    h2 {
      font-size: 2em;
    }
    p {
      font-size: 1.1em;
    }
  }
  #about {
    flex-direction: column;
    #about-image {
      width: 100%;
      img {
        width: 45%;
      }
    }
    #about-text {
      width: 100%;
      #textHolder {
        p {
          font-size: 1.4em;
        }
        text-align: center;
      }
      padding: 3em 0;
    }
  }
  #contact #contactHolder #info {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {
  #slider-nav #slider #authorPhoto #imageHolder {
    width: 90%;
  
  }
  #project .project-block .content {
    .project-heading {
      font-size: 2.2vw;
    }
    .technologies {
      font-size: 2vw;
    }
  }
  #slider-nav #slider #info {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 1.8em;
    }
  }
  #skills #skill-holder {
    flex-direction: column;
    #group1, #group2 {
      width: 100%;
      padding: 0;
    }
    .skill .skillHeadingHolder {
      justify-content: center;
    }
  }
  #education #educationHolder #educationBlocks {
    width: 50%;
  }
  #contact #contactHolder {
    #form {
      justify-content: flex-end;
    }
    #info #info-holder {
      .info-heading {
        font-size: 1.5em;
      }
      p, #social {
        font-size: 1em;
      }
    }
    #form form .formel {
      input {
        &[type="text"], &[type="email"] {
          font-size: 1.4em;
        }
      }
      textarea {
        font-size: 1.4em;
      }
      button {
        font-size: 1.1em;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .holder {
    width: 100%;
  }
  #slider-nav #slider #authorPhoto {
    width: 50%;
  }
  #slider-nav #slider #info #textHolder{
    padding: 1em;
  }
  #project .project-block {
    width: 65%;
    .content .project-heading {
      font-size: 2.6vw;
    }
  }
  #about #about-text #textHolder p {
    font-size: 1.2em;
  }
  #education #educationHolder #educationImage img {
    width: 80%;
  }
  .heading {
    font-size: 2.2em;
    &::after {
      width: 13vw;
    }
  }
  #contact .co::after {
    width: 13vw;
  }
  #about #about-text #textHolder .ab::after, #education .ed::after {
    width: 15vw;
  }
  #skills .sk::after {
    width: 7vw;
  }
  #slider-nav #slider {
    #info {
     
      #textHolder {
       
        h1{
          font-size:2.5em;
        }
        h2{
          font-size:1.6em;
        }
        p{
          font-size:1em;
        }
      }
}
  }
  #slider-nav #slider #authorPhoto #imageHolder img{
    width:100%;
  }

}

@media screen and (max-width: 625px) {
  #slider-nav {
    #slider {
     
      padding-bottom: 0em;
    }
    #nav {
      flex-direction: column;
      #logo {
        width: 100%;
        justify-content: center;
      }
      #menu ul {
        width: 100%;
      }
    }
    #slider {
      flex-direction: column;
      #info {
        width: 100%;
        justify-content: center;
        order: 2;
        #textHolder {
          text-align: center;
        }
      }
      #authorPhoto {
        width: 100%;
        #imageHolder {
          width: 50%;
        }
      }
      #info {
        min-height: 0;
        #textHolder {
          padding: 1em;
          h2{
            font-size:1.8em;
          }
          p{
            font-size:1.1em;
          }
        }
      }
    }
  }
  #project {
    
    #project-holder
     {
      
      
      .pr{
        width:80%;
       
      }
     }
  }
  #skills #skill-holder {
    padding: 1em;
    .skill .progressFrame {
      height: 1.2vh;
    }
  }
  #about #about-text {
    padding: 1.5em;
  }
  #slider-nav #slider #info {
    h1 {
      font-size: 3.3em;
    }
    h2 {
      font-size: 2.4em;
    }
    p {
      font-size: 1.3em;
    }
    #textHolder{
      p {
        display: none;
        &:last-of-type {
          display: block;
        }
      }
    }
  }
  #education #educationHolder {
    #educationImage {
      display: none;
    }
    #educationBlocks {
      width: 100%;
      padding-top: 1em;
      #educationBlockHolder {
        width: 100%;
        .educationBlock {
          width: 70%;
          margin: 1em auto;
        }
      }
    }
  }
  #contact #contactHolder {
    padding: 1.5em;
    #info {
      #info-holder {
        .info-heading, p {
          display: none;
        }
      }
      width: 100%;
      order: 2;
      padding-top: 2em;
    }
    flex-direction: column;
    #form {
      width: 100%;
      padding-top: 1em;
      justify-content: center;
      order: 1;
      form .formel {
        input {
          &[type="text"], &[type="email"] {
            font-size: 1.9em;
          }
        }
        textarea {
          font-size: 1.9em;
        }
        button {
          padding: 0.2em 6.6em;
          font-size: 1.5em;
        }
      }
    }
    #info #info-holder {
      p, #social {
        font-size: 1.3em;
      }
    }
  }
  #about #about-text #textHolder p {
    padding-top: 1em;
    &:last-of-type {
      padding: 0em;
    }
  }
  .heading::after, #contact .co::after {
    width: 15vw;
  }
  #about #about-text #textHolder .ab::after, #education .ed::after {
    width: 18vw;
  }
  #skills .sk::after {
    width: 10vw;
  }
}

@media screen and (max-width: 480px) {
  .organize{
    padding: 3em 0em;
  }
  #slider-nav #slider #info {
    h1 {
      font-size: 3em;
    }
    h2 {
      font-size: 2.2em;
    }
    
  }
  #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock {
    width: 100%;
    margin-top:2.5em; 
  }
  #slider-nav #slider #authorPhoto #imageHolder {
    width: 55%;
  }
  #contact #contactHolder #form form .formel {
    input {
      &[type="text"], &[type="email"] {
        font-size: 1.6em;
      }
    }
    textarea {
      font-size: 1.6em;
    }
    button {
      padding: 0.2em 6.5em;
      font-size: 1.3em;
    }
  }
  #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock {
    .school {
      font-size: 1.3em;
    }
    p {
      font-size: 1.1em;
    }
  }
  #slider-nav #nav #menu ul {
    padding-top: 1em;
    flex-direction: column;
    align-items: center;
    li {
      border: 1px solid #1F1E24;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
  }
 
  #about {
    #about-image {
      display: none;
    }
    #about-text #textHolder {
      text-align: justify;
    }
  }
  #footer #links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #project {
    padding: 4em 0em;
    #project-holder
     {
     
        .pr{
          width:100%;
        .project-block
        {
          width:90%;
          height:110px;
        }
      }
     }
  }
}

@media screen and (max-width: 380px) {
  #slider-nav #slider {
    #info {
      h1 {
        font-size: 2.5em;
      }
      h2 {
        font-size: 1.8em;
      }
      p:last-of-type {
        font-size: 1.2em;
      }
    }
    #authorPhoto #imageHolder {
      width: 65%;
    }
  }

  #project .project-block .content .technologies {
    font-size: 4vw;
  }
  #skills {
    
   
  #skill-holder {
    .skill .skill-heading {
      font-size: 1em;
    }
    padding: 0.2em;
    
  }
}
  #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock {
    .school {
      font-size: 1.1em;
      font-weight: 700;
    }
    p {
      font-size: 1em;
    }
  }
  #contact #contactHolder #form {
    form .formel {
      input {
        &[type="text"], &[type="email"] {
          font-size: 7vw;
        }
      }
      textarea {
        font-size: 7vw;
      }
      button {
        font-size: 1.2em;
        padding: 0.2em 37vw;
      }
    }
    padding: 0px;
  }
  .heading::after, #contact .co::after {
    width: 26vw;
 
  }
  #about #about-text #textHolder .ab::after, #education .ed::after {
    width: 28vw;
  }
  #skills .sk::after {
    width: 12vw;
  }
  #skills #skill-holder #group1{
    padding-top:1.5em; 
  }
}

@media screen and (max-width: 330px) {
  #slider-nav {
    #slider {
      #info {
        #textHolder{
          h1{
            font-size:2em;
          }
          h2{
            font-size:1.6em;
          }
        }
       
      }
     
    }
    
  }
  
  #project {
    #project-holder {
      padding: 3em 0em;
    }
   
    .project-block .content .technologies {
      font-size: 4.2vw;
    }
  }
  #contact #contactHolder #form form .formel button {
    padding: 0.2em 35vw;
  }
}