* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.cleaner {
  clear: both; }

.holder {
  width: 90%;
  margin: 0px auto; }

body {
  background: #100E17;
  font-family: "Roboto";
  color: #fff; }

@keyframes fill {
  0% {
    fill: #FDA226; }
  50% {
    fill: transparent; }
  100% {
    fill: #FDA226; } }
#slider-nav {
  width: 100%;
  margin: 0px auto; }
  #slider-nav #nav {
    width: 100%;
    /*background: $letter;*/
    min-height: 35px;
    display: flex;
    justify-content: space-between; }
    #slider-nav #nav #logo {
      width: 20%;
      display: flex;
      align-items: flex-end;
      padding-top: 0.5em; }
      #slider-nav #nav #logo #svg-logo {
        animation-name: fill;
        animation-duration: 5s;
        animation-iteration-count: infinite; }
    #slider-nav #nav #menu {
      width: 78%;
      min-height: inherit;
      display: flex;
      justify-content: flex-end; }
      #slider-nav #nav #menu ul {
        width: 60%;
        min-height: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #slider-nav #nav #menu ul li a {
          font-size: 1.4em;
          color: #fff; }
          #slider-nav #nav #menu ul li a:hover {
            color: #FDA226; }
  #slider-nav #slider {
    width: 100%;
    padding: 15vh 0;
    display: flex;
    justify-content: space-between; }
    #slider-nav #slider #info {
      width: 55%;
      min-height: 300px;
      display: flex;
      align-items: center; }
      #slider-nav #slider #info #textHolder {
        width: 70%;
        padding: 2.5em 0;
        margin: 0px auto; }
      #slider-nav #slider #info h1 {
        font-size: 5em; }
      #slider-nav #slider #info h2 {
        font-size: 3em; }
      #slider-nav #slider #info p {
        font-size: 1.2em;
        margin: 0.3em 0; }
    #slider-nav #slider #authorPhoto {
      width: 45%;
      display: flex;
      justify-content: center; }
      #slider-nav #slider #authorPhoto #imageHolder {
        display: flex;
        align-items: center;
        display: flex;
        justify-content: center;
        border: 6px solid #FDA226;
        border-radius: 50%; }
        #slider-nav #slider #authorPhoto #imageHolder img {
          width: 18vw;
          height: 100%;
          border-radius: 50%; }

.organize {
  width: 100%;
  padding: 2em 0; }

.heading {
  font-size: 3.5em;
  position: relative;
  display: flex;
  justify-content: center; }
  .heading::after {
    content: "";
    width: 9vw;
    height: 0.3vh;
    background: #FDA226;
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 999; }

#project #project-holder {
  padding: 5em; }
#project .project-block {
  width: 11vw;
  height: 25vh;
  background: #1F1E24;
  border-radius: 50px; }
  #project .project-block .project-image {
    width: 100%; }
    #project .project-block .project-image img {
      width: 100%;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px; }
  #project .project-block .content {
    text-align: center;
    width: 100%;
    padding: 1em; }
    #project .project-block .content .project-heading {
      font-size: 1.2vw; }
    #project .project-block .content .technologies {
      font-size: 1vw; }
    #project .project-block .content h3, #project .project-block .content p {
      padding: 0.1em; }

#skills .sk::after {
  width: 5vw; }
#skills #skill-holder {
  padding: 5em;
  display: flex;
  justify-content: space-around; }
  #skills #skill-holder #group1, #skills #skill-holder #group2 {
    width: 45%;
    padding: 0.8em; }
  #skills #skill-holder .skill {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4vh; }
    #skills #skill-holder .skill .skill-heading {
      font-size: 1.3em; }
    #skills #skill-holder .skill .skillHeadingHolder {
      width: 20%;
      display: flex;
      align-items: center; }
    #skills #skill-holder .skill .progressFrameHolder {
      width: 80%;
      display: flex;
      align-items: center; }
    #skills #skill-holder .skill .progressFrame {
      width: 90%;
      height: 2vh;
      background: #1F1E24;
      border-radius: 30px; }
      #skills #skill-holder .skill .progressFrame .progress {
        display: block;
        width: 80%;
        height: inherit;
        background: #FDA226;
        border-radius: 30px; }
      #skills #skill-holder .skill .progressFrame .css {
        width: 70%; }
      #skills #skill-holder .skill .progressFrame .sass {
        width: 55%; }
      #skills #skill-holder .skill .progressFrame .sql {
        width: 52%; }
      #skills #skill-holder .skill .progressFrame .figma {
        width: 75%; }
      #skills #skill-holder .skill .progressFrame .xd {
        width: 82%; }

#about {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  #about #about-image {
    width: 40%;
    display: flex;
    justify-content: center; }
    #about #about-image img {
      border-radius: 50%; }
  #about #about-text {
    width: 60%;
    padding: 5em 0;
    display: flex;
    justify-content: center; }
    #about #about-text #textHolder {
      text-align: justify; }
      #about #about-text #textHolder .heading {
        margin: 1.5vw 0; }
      #about #about-text #textHolder .ab::after {
        width: 11vw; }
      #about #about-text #textHolder p {
        font-size: 1.2em; }

#education {
  width: 100%; }
  #education .ed::after {
    width: 10vw; }
  #education #educationHolder {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    #education #educationHolder #educationBlocks {
      width: 40%;
      display: flex;
      justify-content: center;
      display: flex;
      align-items: center; }
      #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock {
        background-color: #1F1E24;
        padding: 2.2em;
        margin-bottom: 1.5em;
        border-radius: 50px; }
        #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock .educationHeading {
          font-size: 1.7em;
          text-align: center; }
        #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock p {
          font-size: 1em;
          padding: 0.3em;
          text-align: center; }
        #education #educationHolder #educationBlocks #educationBlockHolder .educationBlock .school {
          font-size: 1.4em; }
    #education #educationHolder #educationImage {
      width: 60%;
      display: flex;
      justify-content: center; }

#contact {
  width: 100%; }
  #contact .co::after {
    width: 7.5vw; }
  #contact #contactHolder {
    width: 100%;
    padding: 3em;
    display: flex;
    justify-content: space-between; }
    #contact #contactHolder #info {
      width: 40%;
      display: flex;
      justify-content: center; }
      #contact #contactHolder #info #info-holder .info-heading {
        font-size: 2em; }
      #contact #contactHolder #info #info-holder p, #contact #contactHolder #info #info-holder #social {
        font-size: 1.4em; }
      #contact #contactHolder #info #info-holder p {
        padding: 0.1em 0; }
      #contact #contactHolder #info #info-holder #social a {
        color: #fff; }
      #contact #contactHolder #info #info-holder #social i {
        font-size: 1.1em;
        padding: 0.1em; }
        #contact #contactHolder #info #info-holder #social i:hover {
          color: #FDA226;
          transition: .6s; }
    #contact #contactHolder #form {
      width: 60%;
      display: flex;
      justify-content: center; }
      #contact #contactHolder #form form .formel {
        padding: 0.2em; }
        #contact #contactHolder #form form .formel input[type="text"], #contact #contactHolder #form form .formel input[type="email"], #contact #contactHolder #form form .formel textarea {
          background: #1F1E24;
          width: 100%;
          border: none;
          font-size: 1.8em;
          border-radius: 10px;
          color: #fff;
          outline-color: #FDA226;
          -moz-outline-radius: 10px; }
        #contact #contactHolder #form form .formel textarea {
          font-size: 1.7em;
          resize: none;
          width: 100%;
          height: auto;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        #contact #contactHolder #form form .formel ::placeholder {
          font-size: 0.7em;
          font-family: "Roboto";
          padding: 0.5em; }
        #contact #contactHolder #form form .formel button {
          font-family: "Roboto";
          font-size: 1.5em;
          padding: 0.3em 2em;
          background: #FDA226;
          border: none;
          color: #fff;
          border-radius: 20px; }
          #contact #contactHolder #form form .formel button:hover {
            background: #fff;
            color: #FDA226;
            transition: .6s; }

#footer {
  width: 100%;
  background: #1F1E24;
  height: 2%; }
  #footer #links {
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row; }
  #footer a {
    color: #fff;
    padding: 0 0.7em; }
    #footer a:hover {
      color: #FDA226;
      transition: .6s; }

/*# sourceMappingURL=style.css.map */
